#container{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;

}

button{
    margin: 0.5rem;
}

.{
    font-family: 'Courier New', Courier, monospace;
    background-color : red;
}

